<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movile.up.seriestracker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/favorites_header_tv_happy"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SeasonDetailsActivity"
            android:label="@string/title_activity_season_details" >
        </activity>

        <activity
            android:name=".activities.EpisodeDetailsActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.support.BaseNavigationToolbarActivity"
            android:label="@string/title_activity_base_navigation_toolbar_activity" >
        </activity>

        <activity
            android:name=".activities.support.BaseLoadingActivity"
            android:label="@string/title_activity_base_loading_activity" >
        </activity>

        <activity
            android:name=".activities.ShowDetailsActivity"
            android:label="@string/title_activity_show_details"
            android:parentActivityName=".activities.ShowsActivity"
            >

        </activity>

        <activity
            android:name=".activities.ShowsActivity"
            android:label="@string/title_activity_shows" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".business.services.UpdateService"
            android:enabled = "true"
            android:exported="false" />

        <receiver
            android:name="com.movile.up.seriestracker.business.broadcasters.BroadcastUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.movile.up.seriestracker.action.SHOW_UPDATE" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".business.broadcasters.BootUpdateBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.movile.up.seriestracker.util.GlideConfiguration"
            android:value="GlideModule" />

    </application>

</manifest>
